doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title RTC - pingpong
    meta(name='description', content='description here')
    // <link rel='stylesheet' href='css/style.css' type='text/css'>
  body
    button#offerer Offer
    p
    script(src='js/adapter.js')
    script(src='/socket.io/socket.io.js')
    script(src='js/jquery-2.1.4.min.js')
    script(src='js/rtc.js')